<div class="footer-main">
  <div class="footer row">
    <div class="col-lg-4 border-right">
      About Us
      <div class="footer-desc">
        A completely responsive web app to satiate your curiosity
      </div>
      <div class="footer-desc">
        Made with love <img class="heart-img" src="assets/images/heart.png" />
      </div>
    </div>
    <div class="col-lg-4 border-right">
      Services
      <div class="footer-desc">Ask Questions</div>
      <div class="footer-desc">Rate Questions</div>
      <div class="footer-desc">Send Notifications</div>
      <div class="footer-desc">Use Dark Theme</div>
    </div>
    <div class="col-lg-4">Cleancode ©2022</div>
  </div>
</div>

