<div class="header container-fluid d-flex justify-content-between">
<div class="header-wrap">
  <div class="logo">Cleancode<span class="dot-span">.</span></div>
</div>
<div class="header-wrap pd-right-head">
  <div class="d-flex">
    <div  *ngIf= "!isLogin()" class="pd-left-headerRight pd-top-14"><div class="head-right-content nav-active" (click)="scrollToTopSection()">Home</div></div>
    <div *ngIf= "!isLogin()" class="pd-left-headerRight pd-top-14"><div class="head-right-content" (click)="scrollToServiceSection()">Services</div></div>
   <div *ngIf= "!isLogin()"class="pd-left-headerRight pd-top-14"> <div class="head-right-content" (click)="login()">Login</div></div>
   <div *ngIf= "isLogin()" class="welcome">Welcome {{userName}}</div>
   <div *ngIf= "isLogin()"class="pd-left-headerRight"> <div class="head-right-content logoutbtn" (click)="logout()">Logout</div></div>
  </div>
</div>
</div>
